export GIT_SSH_COMMAND="ssh -i ~/.ginger-society/ssh-keys/ginger-society/id_ed25519 -o IdentitiesOnly=yes"
export REDIS_URL="redis://localhost:6379"
export ADMIN_REPO_SSH_URL="git@localhost:gitolite-admin.git"
export ADMIN_SSH_KEY_PATH="~//Documents/ginger-society/registries/ginger-gitter/admin_key"
export GH_SSH_PREFIX="git@github.com:BACKUP_ACCOUNT"
export GH_USERNAME="BACKUP_ACCOUNT"
export GH_PAT="ghp_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
export GH_SSH_KEY_PATH="~/.ginger-society/ssh-keys/BACKUP_ACCOUNT/id_ed25519"
export ADMIN_REPO_PATH="./admin-repo"
export GITOLITE_PORT="8022"
export RUST_LOG="debug"